<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/universal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/cadastro.css') }}">
  <title>Cadastro de Tema</title>
</head>
<body onload="loading()">

  <div class="box-load">
    <div class="pre"></div>
  </div>

  <main>

    <form action="" method="post" id="formulario">

      {{ form.csrf_token }}

      <fieldset>
        <div class="tema palavras">
          <h1>Escolha o nome do seu Tema</h1>
          <p>lembrando que ele aparecerar para todos os usuários</p>
          {{ form.tema(_name="tema", placeholder="Tema") }}
        </div>
        <input type="submit" name="next" class="next acao" value="Próximo">
      </fieldset>

      <fieldset>
        <div class="palavras">
          <h1>1° Palavra</h1>
          {{ form.palavra_1(placeholder="Qual será a palavra?")}}
          <h1>Dica: </h1>
          {{ form.dica_1(placeholder="Qual será a dica da palavra?")}}
          <h1>Dica extra: </h1>
          {{ form.conceito_1(placeholder="Qual será a dica extra da palavra?")}}
        </div>
        <input type="submit" name="prev" class="prev acao" value="Anterior">
        <input type="submit" name="next" class="next acao" value="Próximo">
      </fieldset>

      <fieldset>
        <div class="palavras">
          <h1>2° Palavra</h1>
          {{ form.palavra_2(placeholder="Qual será a palavra?")}}
          <h1>Dica: </h1>
          {{ form.dica_2(placeholder="Qual será a dica da palavra?")}}
          <h1>Dica extra: </h1>
          {{ form.conceito_2(placeholder="Qual será a dica extra da palavra?")}}
        </div>
        <input type="submit" name="prev" class="prev acao" value="Anterior">
        <input type="submit" name="next" class="next acao" value="Próximo">
      </fieldset>

      <fieldset>
        <div class="palavras">
          <h1>3° Palavra</h1>
          {{ form.palavra_3(placeholder="Qual será a palavra?")}}
          <h1>Dica: </h1>
          {{ form.dica_3(placeholder="Qual será a dica da palavra?")}}
          <h1>Dica extra: </h1>
          {{ form.conceito_3(placeholder="Qual será a dica extra da palavra?")}}
        </div>
        <input type="submit" name="prev" class="prev acao" value="Anterior">
        <input type="submit" name="next" class="next acao" value="Próximo">
      </fieldset>

      <fieldset>
        <div class="palavras">
          <h1>4° Palavra</h1>
          {{ form.palavra_4(placeholder="Qual será a palavra?")}}
          <h1>Dica: </h1>
          {{ form.dica_4(placeholder="Qual será a dica da palavra?")}}
          <h1>Dica extra: </h1>
          {{ form.conceito_4(placeholder="Qual será a dica extra da palavra?")}}
        </div>
        <input type="submit" name="prev" class="prev acao" value="Anterior">
        <input type="submit" name="next" class="next acao" value="Próximo">
      </fieldset>

      <fieldset>        
        <div class="palavras">
          <h1>5° Palavra</h1>
          {{ form.palavra_5(placeholder="Qual será a palavra?")}}
          <h1>Dica: </h1>
          {{ form.dica_5(placeholder="Qual será a dica da palavra?")}}
          <h1>Dica extra: </h1>
          {{ form.conceito_5(placeholder="Qual será a dica extra da palavra?")}}
        </div>
        <input type="submit" name="prev" class="prev acao" value="Anterior">
        <input type="submit" name="next" class="next acao" value="Próximo">
      </fieldset>      
      
      <fieldset>
        <div class="palavras">
          <h1>6° Palavra</h1>
          {{ form.palavra_6(placeholder="Qual será a palavra?")}}
          <h1>Dica: </h1>
          {{ form.dica_6(placeholder="Qual será a dica da palavra?")}}
          <h1>Dica extra: </h1>
          {{ form.conceito_6(placeholder="Qual será a dica extra da palavra?")}}
        </div>
        <input type="submit" name="prev" class="prev acao" value="Anterior">
        <input type="submit" name="next" class="next acao" value="Próximo">
      </fieldset>

      <fieldset>
        <div class="palavras">
          <h1>7° Palavra</h1>
          {{ form.palavra_7(placeholder="Qual será a palavra?")}}
          <h1>Dica: </h1>
          {{ form.dica_7(placeholder="Qual será a dica da palavra?")}}
          <h1>Dica extra: </h1>
          {{ form.conceito_7(placeholder="Qual será a dica extra da palavra?")}}
        </div>
        <input type="submit" name="prev" class="prev acao" value="Anterior">
        <input type="submit" name="next" class="next acao" value="Próximo">
      </fieldset>
      
      <fieldset>
        <div class="palavras">
          <h1>8° Palavra</h1>
          {{ form.palavra_8(placeholder="Qual será a palavra?")}}
          <h1>Dica: </h1>
          {{ form.dica_8(placeholder="Qual será a dica da palavra?")}}
          <h1>Dica extra: </h1>
          {{ form.conceito_8(placeholder="Qual será a dica extra da palavra?")}}
        </div>
        <input type="submit" name="prev" class="prev acao" value="Anterior">
        <input type="submit" name="next" class="next acao" value="Próximo">
      </fieldset>

      <fieldset>
        <div class="palavras">
          <h1>9° Palavra</h1>
          {{ form.palavra_9(placeholder="Qual será a palavra?")}}
          <h1>Dica: </h1>
          {{ form.dica_9(placeholder="Qual será a dica da palavra?")}}
          <h1>Dica extra: </h1>
          {{ form.conceito_9(placeholder="Qual será a dica extra da palavra?")}}
        </div>
        <input type="submit" name="prev" class="prev acao" value="Anterior">
        <input type="submit" name="next" class="next acao" value="Próximo">
      </fieldset>

      <fieldset>
        <div class="palavras">
          <h1>10° Palavra</h1>
          {{ form.palavra_10(placeholder="Qual será a palavra?")}}
          <h1>Dica: </h1>
          {{ form.dica_10(placeholder="Qual será a dica da palavra?")}}
          <h1>Dica extra: </h1>
          {{ form.conceito_10(placeholder="Qual será a dica extra da palavra?")}}
        </div>
        <input type="submit" name="prev" class="prev acao" value="Anterior">
        <input type="submit" name="next" class="next acao" value="Próximo">
      </fieldset>

      <fieldset>
        <div class="palavras">
          <h1>11° Palavra</h1>
          {{ form.palavra_11(placeholder="Qual será a palavra?")}}
          <h1>Dica: </h1>
          {{ form.dica_11(placeholder="Qual será a dica da palavra?")}}
          <h1>Dica extra: </h1>
          {{ form.conceito_11(placeholder="Qual será a dica extra da palavra?")}}
        </div>
        <input type="submit" name="prev" class="prev acao" value="Anterior">
        <input type="submit" name="next" class="next acao" value="Próximo">
      </fieldset>

      <fieldset>
        <div class="palavras">
          <h1>12° Palavra</h1>
          {{ form.palavra_12(placeholder="Qual será a palavra?")}}
          <h1>Dica: </h1>
          {{ form.dica_12(placeholder="Qual será a dica da palavra?")}}
          <h1>Dica extra: </h1>
          {{ form.conceito_12(placeholder="Qual será a dica extra da palavra?")}}
        </div>
        <input type="submit" name="prev" class="prev acao" value="Anterior">
        <button type="submit" name="next" class="comum enviar acao">Enviar</button>
      </fieldset>

    </form>

    <a href="{{ url_for('tema', user=user) }}">
      <button>Voltar para escolher o tema</button>
    </a>

  </main>
  
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='scripts/cadastro.js') }}"></script>
</html>