<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forca - Login</title>
</head>
<body>
  
  <form action="" method="post">

    {{ form.csrf_token }}


    <div>
      <label for="name">Nome</label>
      {{ form.name(_name="name", placeholder="Seu nome") }}
    </div>
    <div>
      <label for="last_name">Sobrenome</label>
      {{ form.last_name(_name="last_name", placeholder="Seu sobrenome") }}
    </div>
    <button type="submit">Enviar</button>


  </form>

  <a href="{{ url_for('tema', user=url_tema)}} ">
    <button>Prosseguir</button>
  </a>

</body>
</html>