<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Escolha um tema</title>
</head>
<body>

  {% for tema in nomes %}

    <a href="{{ url_for('game', tema=tema, user=user)}}">
      <button>{{ tema }}</button>
    </a>

  {% endfor %}

  <a href="{{ url_for('cadastro', user=user) }}">
    <button>Cadastrar tema</button>
  </a>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='scripts/tema.js') }}"></script>
</html>